.panel.panel-default
  .panel-heading
    %h4= t('.title', :resource => resource_class.model_name.human , :default => 'Edit #{resource_name.to_s.humanize}')
  .panel-body
    .col-xs-12
      = flash_messages
      = bootstrap_devise_error_messages!
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, multipart:true }) do |f|
      .form-group.row
        .col-sm-6
          = f.label :first_name
          = f.text_field :first_name, class: "form-control"
        .col-sm-6
          = f.label :last_name
          = f.text_field :last_name, class: "form-control"
      .form-group.row
        .col-xs-9
          = f.label :profile_image
          = f.file_field :profile_image, class: "form-control"
        .col-xs-3
          %img.img-circle{src: current_user.profile_image.url(:large_thumb), height:120, width:120}
      .form-group
        = f.label :email
        = f.email_field :email, class: "form-control"
      .form-group
        = f.label :password
        %i
          (#{t('.leave_blank_if_you_don_t_want_to_change_it', :default => "leave blank if you don't want to change it")})
        %br/
        = f.password_field :password, autofocus: true, :autocomplete => "off", class: "form-control"
      .form-group
        = f.label :password_confirmation
        %br/
        = f.password_field :password_confirmation, class: "form-control"
      %hr
      .form-group
        = f.label :current_password, 'Current Password'
        %i We always need your current password to confirm your changes
        = f.password_field :current_password, class: "form-control"
        = link_to t(".forgot_your_password", :default => "Forgot your password?"), new_password_path(resource_name), id:'forgot-password-link'

      = f.submit t('.update', :default => "Update"), class: "btn btn-primary"
      = link_to :back do
        .button.btn.btn-link Cancel
      = link_to user_registration_path, :method => :delete, :data => { :confirm => "This cannot be undone. \rAre you sure?" }, class:'pull-right' do
        .button.btn.btn-link Delete Account
        
