= form_for admin_post_path(@post) do |f|
  = f.hidden_field :type
  - if @post.errors.any?
    #error_explanation
      %h2= "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      %ul
        - @post.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_area :title
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :display_options
    = f.text_field :display_options
  .field
    = f.label :poster
    = f.text_field :poster
  .field
    = f.label :expired_at, 'Event Time'
    = f.datetime_select :expired_at
  .actions
    = f.submit 'Publish'
