= f.hidden_field :type, value:'Posts::Event'
= f.hidden_field :public_id
.field
  = f.label :title, 'Event Title'
  = f.text_field :title, class:'form-control', placeholder:"What's the name of the event?"
.field.row
  .col-sm-6
    = f.label :event_time, 'Event Date'
    .input-group
      = f.text_field :event_time, name:'post[display_options][event_time]', id: 'event-pickadate', class:'form-control', placeholder:'When is the event?'
      .input-group-btn.trigger-pick-a-date
        %button.btn.btn-default
          %i.glyphicon.glyphicon-calendar

  .col-sm-6
    = f.label :event_date, 'Event Time'
    .input-group
      = f.text_field :event_date, name:'post[display_options][event_date]', class:'form-control pick-a-time', placeholder:'What time is the event?'
      .input-group-btn.trigger-pick-a-time
        %button.btn.btn-default
          %i.glyphicon.glyphicon-time
.field
  = f.label :location, 'Location of the event'
  = f.text_field :location, name:'post[display_options][location]', class:'form-control', placeholder:'Where is the event?'

.field
  = f.label :description
  = f.text_area :description, class:'form-control', rows:4, placeholder:"Who should attend?\nWhat should they expect?\nWhat should they DO to 'sign up'?\n\n"

.field
  = f.label :poster, 'Event Graphic'
  #dropzone
    .row
      .col-xs-5
        %span.btn.btn-success.fileinput-button
          %i.glyphicon.glyphicon-plus
          %span Add Event Graphic
          = f.file_field :poster, id:'upload-event-poster', class:'form-control', multiple:false, accept:"image/*" #, data:{url:'/admin/uploaded_files.json'}
      .col-xs-7
        %b Drag & Drop Here
    #dropzone-file-manager


#advanced-features.panel.panel-default
  .panel-heading
    %a.to-nowhere{href:'#'} Advanced Options
  #advanced-drawer.panel-body.closed
    .field
      = f.label :expired_at, 'Remove the Post Early'
      .input-group
        = f.text_field :expired_at, id: 'expired-at-pickadate', class:'form-control', placeholder:'When the event starts.', value:f.object.expired_at.try(:strftime, '%e %B, %Y')
        .input-group-btn.trigger-pick-a-date
          %button.btn.btn-default
            %i.glyphicon.glyphicon-calendar
      %p.help-block
        %b Example:
        Registration ends before the event. | Leave blank to use the start-time of the event.
    .checkbox
      = f.label :featured_at do
        = f.check_box(:featured_at, checked: @post.featured_at.present?)
        This is a featured event
    .field
      = f.fields_for :comm_arts_request do |ff|
        %ul.nav.nav-tabs
          %li.active{role:'presentation'}
            %a{href:'#comm-arts-design', data:{toggle:'tab'}} Design
          %li{role:'presentation'}
            %a{href:'#comm-arts-print', data:{toggle:'tab'}} Print
        .well.tab-content
          #comm-arts-design.tab-pane.fade.in.active
            %p Whether it’s getting people to take part in an event or just try out Cornerstone for the very first time, communication can help you reach your goals. These values, best practices, and guidelines are here to help you remove as many obstacles as possible that might get in the way of people taking their next steps with Christ.
            .field
              .well.checkbox
                .row
                  = label_tag do
                    = check_box_tag 'comm-arts-request-design-checkbox'
                    I need a design created for this event.
              #comm_arts_design_questions
                .field
                  = ff.label :design_purpose, 'Purpose'
                  .description A brief statement of what you want the design to accomplish.
                  = ff.text_area :design_purpose, class:'form-control', placeholder:"Example: To help more Cornerstone members attend the Global Leadership Summit"
                .field
                  = ff.label :design_tone, 'Tone'
                  .description How do you want people to feel after seeing the design?
                  = ff.text_area :design_tone, class:'form-control', placeholder:"Examples: Excited, Inspired, Encouraged, Challaned, etc."
                .field
                  = ff.label :design_cta, 'Call to Action'
                  .description What do you want people to DO after seeing the design?
                  = ff.text_area :design_cta, class:'form-control', placeholder:"Example: Join a Small Group before Friday"
                .field
                  = ff.label :notes, 'Notes'
                  .description Any additional notes that are not captured on the form
                  = ff.text_area :notes, class:'form-control', placeholder:"Example: I need something specific that is not provided by this form..."
                .field
                  = ff.label :due_date, 'Due Date' do
                    Due Date:
                    .input-group
                      = ff.text_field :due_date, id: 'comm-arts-due-pickadate', class:'form-control', placeholder:'When the design is due', value:ff.object.due_date.try(:strftime, '%e %B, %Y')
                      .input-group-btn.trigger-pick-a-date
                        %button.btn.btn-default
                          %i.glyphicon.glyphicon-calendar

          #comm-arts-print.tab-pane.fade.in
            %p  Do you need anything printed for this event?
            .row
              .field
                = ff.label :postcard_quantity do
                  Postcard
                  %br
                  (5 &times; 7)
              .field
                = ff.label :poster_quantity do
                  Poster
                  %br
                  (12 &times; 18)
              .field
                = ff.label :booklet_quantity do
                  Booklet
                  %br
                  (8.5 &times; 5.5)
              .field
                = ff.label :badges_quantity do
                  Badges
            .row
              .field
                = ff.label :postcard_quantity do
                  Quantity:
                  = ff.text_field :postcard_quantity
              .field
                = ff.label :poster_quantity do
                  Quantity:
                  = ff.text_field :poster_quantity
              .field
                = ff.label :booklet_quantity do
                  Quantity:
                  = ff.text_field :booklet_quantity
              .field
                = ff.label :badges_quantity do
                  Quantity:
                  = ff.text_field :badges_quantity
