= f.hidden_field :type, value:'Posts::Photo'
.field
  = f.label :title
  = f.text_area :title, class:'form-control'
.field
  = f.label :description
  = f.text_area :description, class:'form-control'
.field
  = f.label :display_options
  = f.text_field :display_options, class:'form-control'
.field
  = f.label :poster
  = f.file_field :poster, class:'form-control', multiple:true, accept:"image/*"
  - if f.object.poster.present?
    = image_tag f.object.poster.url

.field
  = f.label :expired_at, 'Archive at:'
  = f.datetime_select :expired_at, class:'form-control'
