= f.hidden_field :type, value:'Posts::Video'
.field
  = f.label :title
  = f.text_field :title, class:'form-control', placeholder:"What are you sharing?"

.field
  = f.label :description, 'Comments'
  = f.text_area :description, class:'form-control', placeholder:'Why are you sharing it?'

.field#video-upload-tabs
  = f.label :uploaded_files, 'Video'
  %ul.nav.nav-tabs{role:'tablist'}
    %li{role:'presentation', class:(f.object.vimeo_id.present? ? '' : 'active')}
      %a{href:'#upload-video', data:{toggle:'tab'}} Upload Video
    %li{role:'presentation', class:(f.object.vimeo_id.present? ? 'active' : '')}
      %a{href:'#vimeo-video', data:{toggle:'tab'}} Use Vimeo
  .tab-content  
    .field.tab-pane#upload-video{role:'tabpanel', class:(f.object.vimeo_id.present? ? '' : 'active')}
      #dropzone
        .row
          .col-xs-5
            %span.btn.btn-success.fileinput-button
              %i.glyphicon.glyphicon-plus
              %span Add a Video...
              = f.file_field :uploaded_files, id:'upload-video', class:'form-control', multiple:false, accept:"video/*", capture:'camcorder', data:{url:'/admin/uploaded_files.json'}
          .col-xs-7
            %b Drag & Drop Here
        #dropzone-file-manager
        
    .field.tab-pane#vimeo-video{role:'tabpanel', class:(f.object.vimeo_id.present? ? 'active' : '')}
      = react_component('CStone.Shared.Components.VimeoUploadHelp', {vimeoId: f.object.vimeo_id}, {prerender: true})

/ .field
/   = f.label :expired_at, 'Archive at:'
/   = f.datetime_select :expired_at, class:'form-control'
