= form_for [:admin, :content, @page] do |f|
  - if @page.errors.any?
    #error_explanation.alert.alert-danger.alert-dismissible{role:'alert'}
      %button.close.fade.in{data:{dismiss:'alert'}}
        %span{'aria-hidden'=>true} &times;
        %span.sr-only Close
      %h2= "#{pluralize(@page.errors.count, "error")} prevented this post from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :slug
    = f.text_field :slug
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :seo_keywords
    = f.text_field :seo_keywords
  .actions
    = f.submit 'Save'
