%h1 Listing pages

%table
  %thead
    %tr
      %th Slug
      %th Title
      %th Body
      %th Seo keywords
      %th
      %th
      %th

  %tbody
    - @pages.each do |page|
      %tr
        %td= page.slug
        %td= page.title
        %td= page.body
        %td= page.seo_keywords.join(', ')
        %td= link_to 'Show', [:admin, :content, page]
        %td= link_to 'Edit', edit_admin_content_page_path(page)
        %td= link_to 'Delete', [:admin, :content, page], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Page', new_admin_content_page_path
