%p#notice= notice

%p
  %b Slug:
  = @content_page.slug
%p
  %b Title:
  = @content_page.title
%p
  %b Body:
  = @content_page.body
%p
  %b Seo keywords:
  = @content_page.seo_keywords

= link_to 'Edit', edit_admin_content_page_path(@content_page)
\|
= link_to 'Back', admin_content_pages_path
