%p#notice= notice

%p
  %b Slug:
  = @page.slug
%p
  %b Title:
  = @page.title
%p
  %b Body:
  = @page.body
%p
  %b Seo keywords:
  = @page.seo_keywords.join(', ')

= link_to 'Edit', edit_admin_content_page_path(@page)
\|
= link_to 'Back', admin_content_pages_path
