= (render partial: 'sidebar')

%h3 Study groups

#member-groups
  - @groups.each_with_index do |group|
    - current_meeting = group.meetings.detect { |m| m.date_of > Time.now }
    .row
      = link_to(image_tag(group.poster_img.url), group_path(group))
    .row
      = "The group is at lesson #{current_meeting.position}"
    .row
      - group.meetings.each_with_index do |meeting, index|
        - numbered_list = index + 1
        .row
          - lesson = Lesson.where(position: meeting.position, study_id: meeting.group.study_id).first
          .col-xs-1
            - current_meeting_position = current_meeting_status(meeting, current_meeting)
            .group-progress{class: "#{current_meeting_position}"}
          .col-xs-6
            = "#{numbered_list}. #{lesson.title}"
          .col-xs-5
            - user_lesson_state = UserLessonState.where(lesson_id: lesson.id, user_id: current_user.id).first
            .progress
              - percent_completed = user_lesson_state.media_progress.to_f/lesson.duration.to_f * 100.0
              .progress-bar.progress-bar-striped{style: "width: #{percent_completed}%"}
                = "#{percent_completed.round(1)}%"

    .row.step-progress
      - group.meetings.each do |meeting|
        .step-progress-step{class:["accepted", "col-xs-#{12/group.meetings.length}"].join(' ')}
          .progress
            .progress-bar
          .step-progress-dot
            %i.glyphicon
