= (render partial: 'sidebar')

- content_for(:page_specific_js) do
  = javascript_include_tag 'groups/public_index'

.row
  .well
    = form_tag do
      = text_field_tag('email', nil, id: 'email_field', placeholder: 'Enter email...')
      = label_tag(:join, 'join', id: 'join_button', class: 'button')
%h1 Public Listing groups
%table
  %tr
    %th Name
    %th Desription
    %th Study
    %th
    %th
    %th
  - @groups.each do |group|
    %tr
      %td= group.name
      %td= group.description
      %td= group.study_id
      %td= link_to 'Show', group
      %td= link_to 'Edit', edit_group_path(group)
      %td= link_to 'Delete', group, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Group', new_group_path
