#comm-arts-requests-index
  .row
    .col-xs-1
    %h4.col-xs-2
      Title
    %h4.col-xs-1
      Name
    %h4.col-xs-1
      Ministry
    %h4.col-xs-1
      Design
    %h4.col-xs-1
      Postcard
    %h4.col-xs-1
      Poster
    %h4.col-xs-1
      Flier
    %h4.col-xs-1
      Badges
    %h4.col-xs-2
      Due
- @requests.each do |request|
  .row
    .col-xs-1
      .checkbox
        %label
          %input.done-checkbox{type:"checkbox", data: {id: "#{request.id}"}}
    .col-xs-2
      = truncate(request.post.present? ? request.post.title : request.notes, length: 15)
    .col-xs-1
      = request.post.author.first_name if request.post.present?
    .col-xs-1
      = request.ministry.name if request.ministry.present?
    .col-xs-1{data: {toggle: "collapse", target: "#info-collapse-#{request.id}"}}
      - if request.design_requested
        <span class="label label-info">Info</span>
    .col-xs-1
      = request.postcard_quantity if request.print_postcard
    .col-xs-1
      = request.poster_quantity if request.print_poster
    .col-xs-1
      = request.booklet_quantity if request.print_booklet
    .col-xs-1
      = request.badges_quantity if request.print_badges
    .col-xs-2
      = request.due_date.try(:strftime, '%e %B, %Y')
    .col-xs-12
      .collapse{id: "info-collapse-#{request.id}"}
        .bg-info
          %p
            = "Purpose: #{request.design_purpose}" if request.design_purpose.present?
          %p
            = "Tone: #{request.design_tone}" if request.design_tone.present?
          %p
            = "Call To Action: #{request.design_cta}" if request.design_cta.present?
          %p
            = "Notes: #{request.notes}" if request.notes.present?
