#comm-arts-requests-index
  .row
    .col-xs-1
      Item Name
    .col-xs-1
      Ministry
    .col-xs-1
      User Name
    .col-xs-1
      Design Requested?
    .col-xs-1
      Postcard? (quantity)
    .col-xs-2
      Poster? (quantity)
    .col-xs-2
      Flyer? (quantity)
    .col-xs-2
      Badges? (quantity)
    .col-xs-1
      Actions
- @requests.each do |request|
  .row
    .col-xs-1
      = request.item_name
    .col-xs-1
      = request.ministry.name if request.ministry.present? # TODO: nil check because some data does not have it. Will ministry ever be nil?
    .col-xs-1
      = request.post.author.first_name if request.post.present? # TODO: nil check because some data does not have it. Will post ever be nil?
    .col-xs-1{data: {toggle: "collapse", target: "#info-collapse-#{request.id}"}}
      - if request.design_requested
        = "Yes"
        %span.caret
    .col-xs-1
      = "Yes (#{request.postcard_quantity})" if request.print_postcard
    .col-xs-2
      = "Yes (#{request.poster_quantity})" if request.print_poster
    .col-xs-2
      = "Yes (#{request.booklet_quantity})" if request.print_booklet
    .col-xs-2
      = "Yes (#{request.badges_quantity})" if request.print_badges
    .col-xs-1
      = link_to "delete", admin_comm_arts_request_path(request), method: :delete, data: { confirm: "Are you sure?" }
    .col-xs-12
      .collapse{id: "info-collapse-#{request.id}"}
        %p
          = "Purpose: #{request.design_purpose}" if request.design_purpose.present?
        %p
          = "Tone: #{request.design_tone}" if request.design_tone.present?
        %p
          = "Call To Action: #{request.design_cta}" if request.design_cta.present?
