#comm-arts-requests-index
  %table{class: "table table-striped"}
    %tr
      %th
        Design Requested?
      %th
      %th
        Print Postcard?
      %th
        Print Poster?
      %th
        Print Booklet?
      %th
        Print Badges?
      %th
    - @requests.each do |request|
      %tr
        %td
          = "Yes" if request.design_requested
        %td
          .row
            = "Purpose: #{request.design_purpose}" if request.design_purpose.present?
          .row
            = "Tone: #{request.design_tone}" if request.design_tone.present?
          .row
            = "Call To Action: #{request.design_cta}" if request.design_cta.present?
        %td
          = "Yes" if request.print_postcard
        %td
          = "Yes" if request.print_poster
        %td
          = "Yes" if request.print_booklet
        %td
          = "Yes" if request.print_badges
        %td
          = link_to "delete", admin_comm_arts_request_path(request), method: :delete, data: { confirm: "Are you sure?" }
