%p
  = "Hey #{@receiver.first_name},"
  %br
  = "&nbsp;&nbsp;Thank you for posting '#{@post.title}' for the #{@post.ministry.name}. We will review your content, and email you know once it is approved!".html_safe
%p#view_post
  In the meantime, you can check the post's status or contribute to the discussion using the
  = link_to 'Post Approval Dashboard', admin_post_url(@approval_request.post)

%p
  Blessings,
  %br
  Cornerstone