- content_for :page_specific_js do
  = javascript_include_tag "library/grid"

- content_for :page_specific_js_initializers do
  = javascript_include_tag "page_initializers/library"

#search-box.row
  #library-search
    %form{role:'form'}
      #library-search-inputs
        .input-group-btn
          %button{type:'button', data:{toggle:'dropdown'}}
            Search All
            %span.caret
          %ul.dropdown-menu
            / - @channels.each do |channel|
            /   %li= link_to channel.title, "##{channel.slug}"
        %input{type:'text', placeholder:'What do you want to learn?'}
      
#study-library
  - grid_layout_for(@studies).each do |col_hash|
    .study-row
      - col_hash.each do |study, col_count|
        .study{:class=>"col-sm-#{col_count}", style:"background-image:url('#{study.poster_img.url}');" }
          %a{:href => study_lesson_url(study, study.lessons.first), class:'no-nav'}
            .click_to_play
              .call_to_action
          .study-details
            %img{src:study.poster_img.url}
            .credits
              %h2= study.title
              .author= #study.authors
              .chruch= #study.church
              .description= study.description
              %ol.lessons.hidden-xs
                - study.lessons.each do |lesson|
                  %li= link_to lesson.title, study_lesson_path(study, lesson)
            