.compact-post
  .user-icon
    %img.img-circle{src: 'http://www.montejano.es/wp-content/uploads/2014/06/perfil1.jpg' } 
   
  .info
    .row
      .title= post.title
    %small.details
      .row
        .submitted= "SUBMITTED: #{distance_of_time_in_words_to_now post.created_at} ago"
      - if post.expired_at
        .row  
          .expires= "EXPIRES IN: #{distance_of_time_in_words_to_now post.expired_at }"
        
  .follow-up
    - if post.published_at
      = link_to post_path(post) do
        %i.public-link
    - else    
      = link_to admin_post_path(post) do
        %button.follow-up-btn
          FOLLOW
          %br
          UP
        
    