.compact-post
  .user-icon :)
   
  .info
    .row
      .title= post.title
    %small.details
      .row
        .submitted= "SUBMITTED: #{distance_of_time_in_words_to_now post.created_at} ago"
      - if post.expired_at
        .row  
          .expires= "EXPIRES IN: #{distance_of_time_in_words_to_now post.expired_at }"
        
  .follow-up
    %button.follow-up-btn
      FOLLOW
      %br
      UP
    