- @posts.each do |post|
  = render "posts/cards/#{post.type}", locals:{post:post}

  .admin_controls
    .published= link_to( 'View Published', post_path(post)) if post.published_at
    .edit= link_to 'Edit', edit_admin_post_path(post)
    .destroy= link_to 'Destroy', admin_post_path(post), :method => :delete, :data => { :confirm => "Are you sure?\nIt will really be gone." }


%nav#new-post
  #new-post-types
    = link_to 'EVENTS', new_admin_post_path post_type:'event'
    = link_to 'LINK',   new_admin_post_path post_type:'link'
    = link_to 'PHOTO',  new_admin_post_path post_type:'photo'
    = link_to 'VIDEO',  new_admin_post_path post_type:'video'
    
  %a.go-back{href:'#'} Go Back
    

