#posts-index
  #header
    .col-xs-12
      %h1 DASHBOARD
  #profile
    .picture
      = link_to edit_user_registration_path do
        %img.img-circle{src: current_user.profile_image.url(:large_thumb), height:120, width:120, alt:current_user.name, title:current_user.name }
      = link_to 'Edit', edit_user_registration_path, id:'edit-profile'


    .name
      %h3
        = current_user.first_name.upcase
        %br
        %small= current_user.last_name.upcase

  #posts
    - @grouped_posts.each do |group_name, posts|
      - next unless posts.present?
      %h4= group_name

      = render partial:"admin/posts/compact_post", collection:posts, as: :post


