- content_for :page_specific_js do
  = javascript_include_tag "//cdn.sublimevideo.net/js/lqhbkm50.js", "lessons"

- content_for :page_specific_js_initializers do
  = javascript_include_tag "page_initializers/library_show"  

#study
  #study-header
    %h1
      %span.title= @study.title
      .small
        %span.church
          = @lesson.author
        - unless @study.description.blank?
          %span.hidden-xs
            |
            %span.description
              = @study.description
    .description
  .clearfix
  #current_study.col-lg-9
    #lesson
      = render :partial => 'video_tag'
      .lesson-source
        / Source:
        / = link_to @church.name, @church.homepage
        / |
        / = link_to @study.ref_link, @study.ref_link
        / #carasel-toggle More From This Study
        / %br
        = link_to 'Download Audio', @lesson.audio.url
        
    #all-lessons
      %ol
        - @study.lessons.each do |lesson|
          %li.lessons{:id => "lesson_#{lesson.id}"}
            = link_to( image_tag(lesson.poster_img.url(:thumbnail), height:200, width:300), study_lesson_path(@study, lesson), class:'thumbnail')
            %span.lesson-number= lesson.position
          
  #similar-studies-lg
    = render partial: 'lessons/similar_studies'

.clearfix
/ #discussion.fluid-row
/   = render partial: 'lessons/discussion'
  
#similar-studies-sm-screen
  = render partial: 'lessons/similar_studies'
