.panel.panel-default
  .panel-heading
    %h4= "Login"
  .panel-body
    = form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: "form" }) do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: "form-control"
      .form-group
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: "form-control"
        = link_to t(".forgot_your_password", :default => "Forgot your password?"), new_password_path(resource_name), id:'forgot-password-link'
      - if devise_mapping.rememberable?
        .checkbox
          %label
            = f.check_box :remember_me, checked: true
            = f.label :remember_me
      = f.submit  "Login", class: "btn btn-primary"
      %a{href:new_registrations_path}
        .button.btn.btn-link Need an account?

= render "devise/shared/links"
