.panel.panel-default
  .panel-heading
    - if @ministry.new_record?
      %h4 New Ministry
    - else
      %h4= "Editing #{@ministry.name.titleize}"
  .panel-body

    = form_for [:admin, @ministry], html: { role: "form" } do |f|
      - if @ministry.errors.any?
        #error_explanation.alert.alert-danger.alert-dismissible{role:'alert'}
          %button.close.fade.in{data:{dismiss:'alert'}}
            %span{'aria-hidden'=>true} &times;
            %span.sr-only Close
          %h2= "#{pluralize(@ministry.errors.count, "error")} prevented this post from being saved:"
          %ul
            - @ministry.errors.full_messages.each do |msg|
              %li= msg

      .form-group
        = f.label :name, 'Ministry Name'
        = f.text_field :name, class:'form-control'
      .form-group
        = f.label :description
        %br/
        = f.text_area :description, class:'form-control'
      = f.submit 'Save', class: "btn btn-primary"
      %a{href:admin_ministries_path}
        .button.btn.btn-link Cancel
      - if current_user.admin?
        = link_to [:admin, @ministry], :method => :delete, :data => { :confirm => "This cannot be undone. \rAre you sure?" }, class:'pull-right' do
          .button.btn.btn-link Delete Ministry
