%p#notice= notice

%h3
  = link_to @ministry.name, "/#{@ministry.slug}"
%a{href:edit_admin_ministry_path(@ministry)}
  %p
    %b Description:
    = @ministry.description


- @posts.each do |post|
  = render partial:"posts/cards/#{post_type_of(post)}", locals:{post:post}

= link_to 'Back', admin_ministries_path
