%p#notice= notice

%h3= "#{@ministry.name.titlecase.possessive} Ministry Dashboard"
%a{href:edit_admin_ministry_path(@ministry)}
  %p
    %b Bio:
    = @ministry.description

- if @grouped_users.empty?
  %h4#no_users 
    (You have no members.
    = link_to 'Invite One!', '#'
    )

- @grouped_users.each do |level, users|
  %h4= level.titleize
  = users.map(&:name).join(', ')