- @title = 'Cornerstone Church SF'

- content_for(:javascripts) do
  = javascript_include_tag 'page_initializers/main'


%header#headroom.header
  #headroom-contentlay
    %a#headroom-logo{href:'#'}
      = image_tag 'white_cornerstone.png', class:'logo-img'
    
    = render partial:'search', locals: {namespace_id:'headroom-search'}


#main-header.header
  .container
    #main-header-content
      %a#logo{href:'#'}
        = image_tag 'white_cornerstone.png', class:'logo-img'
      
      = render partial:'search', locals: {namespace_id:'global-search', show_hint:true}

#main-body
  #evergreen-links
    #new-to-cornerstone.evergreen-link
      %a{href:'/new'}
        .panel.panel-default
          .panel-body New to Cornerstone?

    #times-and-locations.evergreen-link
      %a{href:'/times-and-locations'}
        .panel.panel-default
          .panel-body Service Times, Locations & Parking
      
    #invest-in-cornerstone.evergreen-link
      %a{href:'/invest'}
        .panel.panel-default
          .panel-body Invest in Cornerstone
    
  %hr
  
  #comming-up
    .row
      %h3 Coming Up
      %nav#community-feed
        %ul#community-feed-links
          %li#all-link.active
            %a.ministry{href:'/community', data:{toggle:'tab'}} All
          %li#men-link
            %a.ministry{href:'/men', data:{toggle:'tab'}} Men
          %li#women-link
            %a.ministry{href:'/women', data:{toggle:'tab'}} Women
          %li#rendezvous-link
            %a.ministry{href:'/rendezvous', data:{toggle:'tab'}} Rendezvous
          %li#adults-link
            %a.ministry{href:'/adults', data:{toggle:'tab'}} Adults
          %li#teens-link
            %a.ministry{href:'/teens', data:{toggle:'tab'}} Teens
          %li#kids-link
            %a.ministry{href:'/kids', data:{toggle:'tab'}} Kids
          %li#outreach-link
            %a.ministry{href:'/outreach', data:{toggle:'tab'}} Outreach
  
    #cards
      #card-sizer
      - placeholder_img = placeholder_image '640x360', text:'default'
      - 75.times do |card_number|
        - ministry_class = (m=%w{men women rendezvous teens kids outreach})[card_number%m.length]
        .card{class:ministry_class}
          %a.thumbnail{href: "/contents/#{card_number+1}"}
            - if rand(1..5) != 1
              %img.thumbnail-img{alt: card_number,
                  src: placeholder_img,
                  data: {src:placeholder_image('640x360', random_color:false, text: "#{ministry_class} [#{card_number+1}]" )},
                  height:'360',
                  width:'640'}
            .captions
              %h3= LoremIpsum.w rand(2..4)
              %p= LoremIpsum.p 1
      
      
#current-media
  %h3 Current Media
  