- @title = 'Cornerstone Church SF'

- content_for(:page_specific_js) do
  = javascript_include_tag 'page_initializers/main'


%header#headroom.header
  #headroom-content
    %a#headroom-logo{href:'#'}
      = image_tag 'white_cornerstone.png', class:'logo-img'

    = render partial:'search', locals: {namespace_id:'headroom-search'}


= react_component('CStone.Community.Search.Components.UI', {}, {prerender:true, id:'main-header-wrapper'})

#main-body
  #evergreen-links
    #new-to-cornerstone-link.evergreen-link
      %a{href:'/new', data:{drawer:'new-to-cornerstone'}}
        .panel.panel-default
          .panel-body New to Cornerstone?

    #times-and-locations-link.evergreen-link
      %a{href:'/times-and-locations', data:{drawer:'times-and-locations'}}
        .panel.panel-default
          .panel-body Service Times, Locations & Parking

    #invest-in-community-link.evergreen-link
      %a{href:'/invest-in-community', data:{drawer:'invest-in-community'}}
        .panel.panel-default
          .panel-body Invest in Community

  %hr
  #evergreen-link-bodies
    #new-to-cornerstone.evergreen-body
      .container
        %section.col-sm-8
          = render :partial => 'lessons/vimeo_embed', locals:{video_vimeo_id: 139541524, autoplay:false}
        %section.col-sm-4
          .new-to-cornerstone-copy
            %h3
              %a{href:'/new'}
                %span.hidden-xs.hidden-sm Are you
                New to Cornerstone?
            %ul
              %li
                %a{href:'/new#what-to-expect'} What to Expect
              %li
                %a{href:'/new#childcare-and-youth'} Childcare & Youth Ministry
              %li
                %a{href:'/new#coffee-and-food'} Coffee, Food, & Fellowship
              %li
                %a{href:'/new#park-and-transit'} Maps, Parking, & MUNI/BART

    #times-and-locations.evergreen-body
      .container
        #mission-times
          %h4 Mission Campus
          .times
            Saturday 7pm
            %br
            Sunday 9am, 10:30am, 12pm
          .address
            %a{target:'_blank', href:'https://www.google.com/maps/place/Cornerstone+Church/@37.7631083,-122.4229984,17z/data=!3m1!4b1!4m2!3m1!1s0x808f7f2eee633559:0x74a9f9b79a4c03ae'}
              3459 17th St,
              %br
              San Francisco, CA 94110
            %br
            (Near BART | Onsite Parking | Childcare)

        #merced-times
          %h4 Lake Merced Campus
          .times
            Sunday 11am
          .address
            %a{target:'_blank', href:'https://www.google.com/maps/place/825+Brotherhood+Way,+San+Francisco,+CA+94132/@37.7138696,-122.4783683,17z/data=!3m1!4b1!4m2!3m1!1s0x808f7c4d0440957b:0x65031621786d9ef6'}
              825 Brotherhood Way,
              %br
              San Francisco, CA 94132
            %br
            (Near I-280 | Onsite Parking | Childcare)

        #stream-times
          %h4 Online Live Stream
          .times
            Sunday 10:30am
          .address
            %a{href:'http://live.cornerstonesf.org/', target:'_blank'} live.cornerstonesf.org
            %br
            (Replayed All Sunday)


    #invest-in-community.evergreen-body
      Small Groups, Volunteer, Give

  %ul#current-content-nav
    %li#comming-up-link.active
      %a.current-content-nav{href:'/'}
        %h3 Community Feed
    / %li#media-library-link
    /   %a.current-content-nav{href:'/library'}
    /     %h3 Media Library
    / %li#groups-link
    /   %a.current-content-nav{href:'/groups'}
    /     %h3 Small Groups

  #comming-up.active
    .row
      %nav#community-feed
        %ul#community-feed-links
          %h4 Filter By:
          %li#all-link.active
            %a.ministry{href:'#community'} All
          %li#men-link
            %a.ministry{href:'#men'} Men
          %li#women-link
            %a.ministry{href:'#women'} Women
          %li#rendezvous-link
            %a.ministry{href:'#rendezvous'} 20s/30s
          %li#adults-link
            %a.ministry{href:'#adults'} Adults
          %li#teens-link
            %a.ministry{href:'#teens'} Teens
          %li#kids-link
            %a.ministry{href:'#kids'} Kids
          %li#childrens-link
            %a.ministry{href:'#children'} Children
          %li#outreach-link
            %a.ministry{href:'#outreach'} Outreach


    #cards.social-grid
      #card-sizer
      - @posts.each do |post|
        = render_partial_for post

