- @title = 'Cornerstone Church SF'

- content_for(:page_specific_js) do
  = javascript_include_tag 'page_initializers/main'


%header#headroom.header
  #headroom-content
    %a#headroom-logo{href:'#'}
      = image_tag 'white_cornerstone.png', class:'logo-img'
    
    = render partial:'search', locals: {namespace_id:'headroom-search'}


#main-header.header
  .container
    #main-header-content
      %a#logo{href:'#'}
        = image_tag 'white_cornerstone.png', class:'logo-img'
      
      = render partial:'search', locals: {namespace_id:'global-search', show_examples:true}

#main-body
  #evergreen-links
    #new-to-cornerstone.evergreen-link
      %a{href:'/new'}
        .panel.panel-default
          .panel-body New to Cornerstone?

    #times-and-locations.evergreen-link
      %a{href:'/times-and-locations'}
        .panel.panel-default
          .panel-body Service Times, Locations & Parking
      
    #invest-in-cornerstone.evergreen-link
      %a{href:'/invest'}
        .panel.panel-default
          .panel-body Invest in Cornerstone
    
  %hr
  
  %ul#current-content-nav
    %li#comming-up-link.active
      %a.current-content-nav{href:'/'}
        %h3 Community
    %li#media-library-link
      %a.current-content-nav{href:'/library'}
        %h3 Media Library
  
  #comming-up.active
    .row
      %nav#community-feed
        %ul#community-feed-links
          %h4 Filter By:
          %li#all-link.active
            %a.ministry{href:'#community'} All
          %li#men-link
            %a.ministry{href:'#men'} Men
          %li#women-link
            %a.ministry{href:'#women'} Women
          %li#rendezvous-link
            %a.ministry{href:'#rendezvous'} 20s/30s
          %li#adults-link
            %a.ministry{href:'#adults'} Adults
          %li#teens-link
            %a.ministry{href:'#teens'} Teens
          %li#kids-link
            %a.ministry{href:'#kids'} Kids
          %li#outreach-link
            %a.ministry{href:'#outreach'} Outreach

    #cards.social-grid
      #card-sizer
      - @posts.each do |post|
        = render_partial_for post
  
