!!!
%html{ lang:'en'}
  %head
    %meta{charset: "utf-8"}
    %meta{ name:"apple-mobile-web-app-capable", content:"yes"}
    %meta{ name:"viewport", content:"width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1.0, user-scalable=no, minimal-ui"}
    = csrf_meta_tags

    / DNS Prefetch
    %meta{ 'http-equiv'=>'x-dns-prefetch-control', content:'on'}
    %link{ rel:'dns-prefetch', href:'//media.cornerstonesf.org'}
    %link{ rel:'dns-prefetch', href:'//direct.cornerstonesf.org'}
    %link{ rel:'dns-prefetch', href:'//assets1.cornerstonesf.org'}
    %link{ rel:'dns-prefetch', href:'//assets2.cornerstonesf.org'}
    %link{ rel:'dns-prefetch', href:'//assets3.cornerstonesf.org'}
    %link{ rel:'dns-prefetch', href:'//use.typekit.net'}
    %link{ rel:'dns-prefetch', href:'//www.google-analytics.com'}

    %title= @title || "Cornerstone SF Church"
    = favicon_by_environment

    = stylesheet_link_tag "application", media:'all'
    = yield :page_stylesheets

    / = partial 'layouts/social'

  %body
    = render :partial => 'posts/lightbox'
    = main_frame_toggle do
      = render :partial => 'layouts/backlink_tab'
      = yield
    #main-footer
      %a.col-xs-3.pos0.logo
      %a.col-xs-3.pos1{href:'#'} Visitor Information
      %a.col-xs-3.pos2{href:'#'} New to Cornerstone
      %a.col-xs-3.pos3{href:'#'} Invest in Community



    #javascripts
      / = partial 'layouts/ie'
      = javascript_include_tag  "vendor", digest:'v1'
      = Gon::Base.render_data({namespace:'CStoneData'})
      = javascript_include_tag  "application"
      #page_specific_javascripts
        #load_once
          = yield :page_specific_js
        #load_every_time
          = yield :page_specific_js_initializers

      %script{src:"//use.typekit.net/lob8jts.js"}
      :javascript
        try{Typekit.load();}catch(e){}

      :javascript
        window.doorbellOptions = {
            appKey: 'YMkHgaDBEH47LdFy8iTIVmvcK90mRh8Jl8dlkqCpjqIpuZyLW4HsC8dlHEyQ56yH'
        };
        (function(d, t) {
            var g = d.createElement(t);g.id = 'doorbellScript';g.type = 'text/javascript';g.async = true;g.src = 'https://embed.doorbell.io/button/2618?t='+(new Date().getTime());(d.getElementsByTagName('head')[0]||d.getElementsByTagName('body')[0]).appendChild(g);
        }(document, 'script'));